--
-- PostgreSQL database dump
--

\restrict 74RKGbxu4xgFMo2g15XN3qq0LhNuiUNT3hF6ncbA9BWVcxFBCTOCgq6DCd8PM7b

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fdw_hoalac; Type: SCHEMA; Schema: -; Owner: csdlpt_user
--

CREATE SCHEMA fdw_hoalac;


ALTER SCHEMA fdw_hoalac OWNER TO csdlpt_user;

--
-- Name: fdw_ngoctruc; Type: SCHEMA; Schema: -; Owner: csdlpt_user
--

CREATE SCHEMA fdw_ngoctruc;


ALTER SCHEMA fdw_ngoctruc OWNER TO csdlpt_user;

--
-- Name: postgres_fdw; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgres_fdw WITH SCHEMA public;


--
-- Name: EXTENSION postgres_fdw; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgres_fdw IS 'foreign-data wrapper for remote PostgreSQL servers';


--
-- Name: classsectionstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.classsectionstatus AS ENUM (
    'Mo',
    'Dong',
    'Huy'
);


ALTER TYPE public.classsectionstatus OWNER TO csdlpt_user;

--
-- Name: coursestatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.coursestatus AS ENUM (
    'HoatDong',
    'TamDung',
    'HuyBo'
);


ALTER TYPE public.coursestatus OWNER TO csdlpt_user;

--
-- Name: coursetype; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.coursetype AS ENUM (
    'BatBuoc',
    'TuChon'
);


ALTER TYPE public.coursetype OWNER TO csdlpt_user;

--
-- Name: enrollmentaction; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.enrollmentaction AS ENUM (
    'REGISTER',
    'CANCEL',
    'SWITCH'
);


ALTER TYPE public.enrollmentaction OWNER TO csdlpt_user;

--
-- Name: enrollmentstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.enrollmentstatus AS ENUM (
    'DaDangKy',
    'HoanThanh',
    'DaHuy'
);


ALTER TYPE public.enrollmentstatus OWNER TO csdlpt_user;

--
-- Name: enrollmenttransactionstate; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.enrollmenttransactionstate AS ENUM (
    'INIT',
    'PREPARED',
    'PRECOMMIT',
    'COMMITTED',
    'ABORTED'
);


ALTER TYPE public.enrollmenttransactionstate OWNER TO csdlpt_user;

--
-- Name: genders; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.genders AS ENUM (
    'Nam',
    'Nu',
    'Khac'
);


ALTER TYPE public.genders OWNER TO csdlpt_user;

--
-- Name: generalstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.generalstatus AS ENUM (
    'HoatDong',
    'NgungHoatDong'
);


ALTER TYPE public.generalstatus OWNER TO csdlpt_user;

--
-- Name: logstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.logstatus AS ENUM (
    'SUCCESS',
    'FAILED',
    'PENDING'
);


ALTER TYPE public.logstatus OWNER TO csdlpt_user;

--
-- Name: roomstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.roomstatus AS ENUM (
    'HoatDong',
    'BaoTri',
    'NgungSuDung'
);


ALTER TYPE public.roomstatus OWNER TO csdlpt_user;

--
-- Name: roomtype; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.roomtype AS ENUM (
    'LyThuyet',
    'ThucHanh',
    'PhongMay',
    'Khac'
);


ALTER TYPE public.roomtype OWNER TO csdlpt_user;

--
-- Name: semesterstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.semesterstatus AS ENUM (
    'SapMo',
    'DangDangKy',
    'DangHoc',
    'DaKetThuc'
);


ALTER TYPE public.semesterstatus OWNER TO csdlpt_user;

--
-- Name: studentstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.studentstatus AS ENUM (
    'DangHoc',
    'BaoLuu',
    'ThoiHoc',
    'TotNghiep'
);


ALTER TYPE public.studentstatus OWNER TO csdlpt_user;

--
-- Name: studyform; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.studyform AS ENUM (
    'Offline',
    'Online',
    'Hybrid'
);


ALTER TYPE public.studyform OWNER TO csdlpt_user;

--
-- Name: teacherstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.teacherstatus AS ENUM (
    'DangCongTac',
    'TamNghi',
    'NghiViec'
);


ALTER TYPE public.teacherstatus OWNER TO csdlpt_user;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.userrole AS ENUM (
    'SinhVien',
    'GiangVien',
    'Admin'
);


ALTER TYPE public.userrole OWNER TO csdlpt_user;

--
-- Name: userstatus; Type: TYPE; Schema: public; Owner: csdlpt_user
--

CREATE TYPE public.userstatus AS ENUM (
    'Active',
    'Inactive',
    'Locked'
);


ALTER TYPE public.userstatus OWNER TO csdlpt_user;

--
-- Name: hoalac_server; Type: SERVER; Schema: -; Owner: csdlpt_user
--

CREATE SERVER hoalac_server FOREIGN DATA WRAPPER postgres_fdw OPTIONS (
    dbname 'csdlpt_hoalac',
    host 'postgres_hoalac',
    port '5432'
);


ALTER SERVER hoalac_server OWNER TO csdlpt_user;

--
-- Name: USER MAPPING csdlpt_user SERVER hoalac_server; Type: USER MAPPING; Schema: -; Owner: csdlpt_user
--

CREATE USER MAPPING FOR csdlpt_user SERVER hoalac_server OPTIONS (
    password 'csdlpt_pass',
    "user" 'csdlpt_user'
);


--
-- Name: ngoctruc_server; Type: SERVER; Schema: -; Owner: csdlpt_user
--

CREATE SERVER ngoctruc_server FOREIGN DATA WRAPPER postgres_fdw OPTIONS (
    dbname 'csdlpt_ngoctruc',
    host 'postgres_ngoctruc',
    port '5432'
);


ALTER SERVER ngoctruc_server OWNER TO csdlpt_user;

--
-- Name: USER MAPPING csdlpt_user SERVER ngoctruc_server; Type: USER MAPPING; Schema: -; Owner: csdlpt_user
--

CREATE USER MAPPING FOR csdlpt_user SERVER ngoctruc_server OPTIONS (
    password 'csdlpt_pass',
    "user" 'csdlpt_user'
);


--
-- Name: DangKy; Type: FOREIGN TABLE; Schema: fdw_hoalac; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_hoalac."DangKy" (
    "MaDangKy" integer NOT NULL,
    "MaSV" character varying(20) NOT NULL,
    "MaLopHP" character varying(20) NOT NULL,
    "NgayDangKy" timestamp without time zone,
    "TrangThaiDangKy" character varying(20),
    "LanDangKy" integer,
    "GhiChu" character varying(200)
)
SERVER hoalac_server
OPTIONS (
    schema_name 'public',
    table_name 'DangKy'
);
ALTER FOREIGN TABLE fdw_hoalac."DangKy" ALTER COLUMN "MaDangKy" OPTIONS (
    column_name 'MaDangKy'
);
ALTER FOREIGN TABLE fdw_hoalac."DangKy" ALTER COLUMN "MaSV" OPTIONS (
    column_name 'MaSV'
);
ALTER FOREIGN TABLE fdw_hoalac."DangKy" ALTER COLUMN "MaLopHP" OPTIONS (
    column_name 'MaLopHP'
);
ALTER FOREIGN TABLE fdw_hoalac."DangKy" ALTER COLUMN "NgayDangKy" OPTIONS (
    column_name 'NgayDangKy'
);
ALTER FOREIGN TABLE fdw_hoalac."DangKy" ALTER COLUMN "TrangThaiDangKy" OPTIONS (
    column_name 'TrangThaiDangKy'
);
ALTER FOREIGN TABLE fdw_hoalac."DangKy" ALTER COLUMN "LanDangKy" OPTIONS (
    column_name 'LanDangKy'
);
ALTER FOREIGN TABLE fdw_hoalac."DangKy" ALTER COLUMN "GhiChu" OPTIONS (
    column_name 'GhiChu'
);


ALTER FOREIGN TABLE fdw_hoalac."DangKy" OWNER TO csdlpt_user;

--
-- Name: GiangVien; Type: FOREIGN TABLE; Schema: fdw_hoalac; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_hoalac."GiangVien" (
    "MaGV" character varying(20) NOT NULL,
    "userId" character varying(50) NOT NULL,
    "Ho" character varying(50) NOT NULL,
    "Ten" character varying(50) NOT NULL,
    "NgaySinh" date,
    "GioiTinh" character varying(10),
    "SDT" character varying(20),
    "DiaChi" character varying(300),
    "HocVi" character varying(50),
    "HocHam" character varying(50),
    "MaCoSo" character varying(10) NOT NULL,
    "MaKhoa" character varying(20),
    "TrangThai" character varying(20),
    "NgayVaoLam" date,
    "NgayTao" timestamp without time zone
)
SERVER hoalac_server
OPTIONS (
    schema_name 'public',
    table_name 'GiangVien'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "MaGV" OPTIONS (
    column_name 'MaGV'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "userId" OPTIONS (
    column_name 'userId'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "Ho" OPTIONS (
    column_name 'Ho'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "Ten" OPTIONS (
    column_name 'Ten'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "NgaySinh" OPTIONS (
    column_name 'NgaySinh'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "GioiTinh" OPTIONS (
    column_name 'GioiTinh'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "SDT" OPTIONS (
    column_name 'SDT'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "DiaChi" OPTIONS (
    column_name 'DiaChi'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "HocVi" OPTIONS (
    column_name 'HocVi'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "HocHam" OPTIONS (
    column_name 'HocHam'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "MaKhoa" OPTIONS (
    column_name 'MaKhoa'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "TrangThai" OPTIONS (
    column_name 'TrangThai'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "NgayVaoLam" OPTIONS (
    column_name 'NgayVaoLam'
);
ALTER FOREIGN TABLE fdw_hoalac."GiangVien" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_hoalac."GiangVien" OWNER TO csdlpt_user;

--
-- Name: LichHoc; Type: FOREIGN TABLE; Schema: fdw_hoalac; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_hoalac."LichHoc" (
    "MaLich" character varying(20) NOT NULL,
    "MaLopHP" character varying(20) NOT NULL,
    "MaPhong" character varying(20) NOT NULL,
    "ThuTrongTuan" integer NOT NULL,
    "TietBatDau" integer NOT NULL,
    "SoTiet" integer NOT NULL,
    "NgayBatDau" date,
    "NgayKetThuc" date,
    "GhiChu" character varying(200)
)
SERVER hoalac_server
OPTIONS (
    schema_name 'public',
    table_name 'LichHoc'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "MaLich" OPTIONS (
    column_name 'MaLich'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "MaLopHP" OPTIONS (
    column_name 'MaLopHP'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "MaPhong" OPTIONS (
    column_name 'MaPhong'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "ThuTrongTuan" OPTIONS (
    column_name 'ThuTrongTuan'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "TietBatDau" OPTIONS (
    column_name 'TietBatDau'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "SoTiet" OPTIONS (
    column_name 'SoTiet'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "NgayBatDau" OPTIONS (
    column_name 'NgayBatDau'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "NgayKetThuc" OPTIONS (
    column_name 'NgayKetThuc'
);
ALTER FOREIGN TABLE fdw_hoalac."LichHoc" ALTER COLUMN "GhiChu" OPTIONS (
    column_name 'GhiChu'
);


ALTER FOREIGN TABLE fdw_hoalac."LichHoc" OWNER TO csdlpt_user;

--
-- Name: LopHocPhan; Type: FOREIGN TABLE; Schema: fdw_hoalac; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_hoalac."LopHocPhan" (
    "MaLopHP" character varying(20) NOT NULL,
    "MaHP" character varying(20) NOT NULL,
    "MaHocKy" character varying(20) NOT NULL,
    "MaCoSo" character varying(10) NOT NULL,
    "MaGV" character varying(20) NOT NULL,
    "TenLopHP" character varying(100),
    "SiSoToiDa" integer NOT NULL,
    "SiSoHienTai" integer,
    "HinhThucHoc" character varying(20),
    "TrangThaiLop" character varying(20),
    "NgayTao" timestamp without time zone
)
SERVER hoalac_server
OPTIONS (
    schema_name 'public',
    table_name 'LopHocPhan'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "MaLopHP" OPTIONS (
    column_name 'MaLopHP'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "MaHP" OPTIONS (
    column_name 'MaHP'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "MaHocKy" OPTIONS (
    column_name 'MaHocKy'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "MaGV" OPTIONS (
    column_name 'MaGV'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "TenLopHP" OPTIONS (
    column_name 'TenLopHP'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "SiSoToiDa" OPTIONS (
    column_name 'SiSoToiDa'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "SiSoHienTai" OPTIONS (
    column_name 'SiSoHienTai'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "HinhThucHoc" OPTIONS (
    column_name 'HinhThucHoc'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "TrangThaiLop" OPTIONS (
    column_name 'TrangThaiLop'
);
ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_hoalac."LopHocPhan" OWNER TO csdlpt_user;

--
-- Name: PhongHoc; Type: FOREIGN TABLE; Schema: fdw_hoalac; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_hoalac."PhongHoc" (
    "MaPhong" character varying(20) NOT NULL,
    "TenPhong" character varying(100) NOT NULL,
    "ToaNha" character varying(50),
    "Tang" integer,
    "SucChua" integer NOT NULL,
    "LoaiPhong" character varying(30),
    "MaCoSo" character varying(10) NOT NULL,
    "TrangThai" character varying(20),
    "NgayTao" timestamp without time zone
)
SERVER hoalac_server
OPTIONS (
    schema_name 'public',
    table_name 'PhongHoc'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "MaPhong" OPTIONS (
    column_name 'MaPhong'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "TenPhong" OPTIONS (
    column_name 'TenPhong'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "ToaNha" OPTIONS (
    column_name 'ToaNha'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "Tang" OPTIONS (
    column_name 'Tang'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "SucChua" OPTIONS (
    column_name 'SucChua'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "LoaiPhong" OPTIONS (
    column_name 'LoaiPhong'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "TrangThai" OPTIONS (
    column_name 'TrangThai'
);
ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_hoalac."PhongHoc" OWNER TO csdlpt_user;

--
-- Name: SinhVien; Type: FOREIGN TABLE; Schema: fdw_hoalac; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_hoalac."SinhVien" (
    "MaSV" character varying(20) NOT NULL,
    "userId" character varying(50) NOT NULL,
    "Ho" character varying(50) NOT NULL,
    "Ten" character varying(50) NOT NULL,
    "NgaySinh" date,
    "GioiTinh" character varying(10),
    "SDT" character varying(20),
    "DiaChi" character varying(300),
    "MaCoSo" character varying(10) NOT NULL,
    "MaKhoa" character varying(20),
    "TrangThai" character varying(20),
    "NgayNhapHoc" date,
    "NgayTao" timestamp without time zone
)
SERVER hoalac_server
OPTIONS (
    schema_name 'public',
    table_name 'SinhVien'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "MaSV" OPTIONS (
    column_name 'MaSV'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "userId" OPTIONS (
    column_name 'userId'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "Ho" OPTIONS (
    column_name 'Ho'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "Ten" OPTIONS (
    column_name 'Ten'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "NgaySinh" OPTIONS (
    column_name 'NgaySinh'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "GioiTinh" OPTIONS (
    column_name 'GioiTinh'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "SDT" OPTIONS (
    column_name 'SDT'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "DiaChi" OPTIONS (
    column_name 'DiaChi'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "MaKhoa" OPTIONS (
    column_name 'MaKhoa'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "TrangThai" OPTIONS (
    column_name 'TrangThai'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "NgayNhapHoc" OPTIONS (
    column_name 'NgayNhapHoc'
);
ALTER FOREIGN TABLE fdw_hoalac."SinhVien" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_hoalac."SinhVien" OWNER TO csdlpt_user;

--
-- Name: DangKy; Type: FOREIGN TABLE; Schema: fdw_ngoctruc; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_ngoctruc."DangKy" (
    "MaDangKy" integer NOT NULL,
    "MaSV" character varying(20) NOT NULL,
    "MaLopHP" character varying(20) NOT NULL,
    "NgayDangKy" timestamp without time zone,
    "TrangThaiDangKy" character varying(20),
    "LanDangKy" integer,
    "GhiChu" character varying(200)
)
SERVER ngoctruc_server
OPTIONS (
    schema_name 'public',
    table_name 'DangKy'
);
ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" ALTER COLUMN "MaDangKy" OPTIONS (
    column_name 'MaDangKy'
);
ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" ALTER COLUMN "MaSV" OPTIONS (
    column_name 'MaSV'
);
ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" ALTER COLUMN "MaLopHP" OPTIONS (
    column_name 'MaLopHP'
);
ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" ALTER COLUMN "NgayDangKy" OPTIONS (
    column_name 'NgayDangKy'
);
ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" ALTER COLUMN "TrangThaiDangKy" OPTIONS (
    column_name 'TrangThaiDangKy'
);
ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" ALTER COLUMN "LanDangKy" OPTIONS (
    column_name 'LanDangKy'
);
ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" ALTER COLUMN "GhiChu" OPTIONS (
    column_name 'GhiChu'
);


ALTER FOREIGN TABLE fdw_ngoctruc."DangKy" OWNER TO csdlpt_user;

--
-- Name: GiangVien; Type: FOREIGN TABLE; Schema: fdw_ngoctruc; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_ngoctruc."GiangVien" (
    "MaGV" character varying(20) NOT NULL,
    "userId" character varying(50) NOT NULL,
    "Ho" character varying(50) NOT NULL,
    "Ten" character varying(50) NOT NULL,
    "NgaySinh" date,
    "GioiTinh" character varying(10),
    "SDT" character varying(20),
    "DiaChi" character varying(300),
    "HocVi" character varying(50),
    "HocHam" character varying(50),
    "MaCoSo" character varying(10) NOT NULL,
    "MaKhoa" character varying(20),
    "TrangThai" character varying(20),
    "NgayVaoLam" date,
    "NgayTao" timestamp without time zone
)
SERVER ngoctruc_server
OPTIONS (
    schema_name 'public',
    table_name 'GiangVien'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "MaGV" OPTIONS (
    column_name 'MaGV'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "userId" OPTIONS (
    column_name 'userId'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "Ho" OPTIONS (
    column_name 'Ho'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "Ten" OPTIONS (
    column_name 'Ten'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "NgaySinh" OPTIONS (
    column_name 'NgaySinh'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "GioiTinh" OPTIONS (
    column_name 'GioiTinh'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "SDT" OPTIONS (
    column_name 'SDT'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "DiaChi" OPTIONS (
    column_name 'DiaChi'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "HocVi" OPTIONS (
    column_name 'HocVi'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "HocHam" OPTIONS (
    column_name 'HocHam'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "MaKhoa" OPTIONS (
    column_name 'MaKhoa'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "TrangThai" OPTIONS (
    column_name 'TrangThai'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "NgayVaoLam" OPTIONS (
    column_name 'NgayVaoLam'
);
ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_ngoctruc."GiangVien" OWNER TO csdlpt_user;

--
-- Name: LichHoc; Type: FOREIGN TABLE; Schema: fdw_ngoctruc; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_ngoctruc."LichHoc" (
    "MaLich" character varying(20) NOT NULL,
    "MaLopHP" character varying(20) NOT NULL,
    "MaPhong" character varying(20) NOT NULL,
    "ThuTrongTuan" integer NOT NULL,
    "TietBatDau" integer NOT NULL,
    "SoTiet" integer NOT NULL,
    "NgayBatDau" date,
    "NgayKetThuc" date,
    "GhiChu" character varying(200)
)
SERVER ngoctruc_server
OPTIONS (
    schema_name 'public',
    table_name 'LichHoc'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "MaLich" OPTIONS (
    column_name 'MaLich'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "MaLopHP" OPTIONS (
    column_name 'MaLopHP'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "MaPhong" OPTIONS (
    column_name 'MaPhong'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "ThuTrongTuan" OPTIONS (
    column_name 'ThuTrongTuan'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "TietBatDau" OPTIONS (
    column_name 'TietBatDau'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "SoTiet" OPTIONS (
    column_name 'SoTiet'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "NgayBatDau" OPTIONS (
    column_name 'NgayBatDau'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "NgayKetThuc" OPTIONS (
    column_name 'NgayKetThuc'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" ALTER COLUMN "GhiChu" OPTIONS (
    column_name 'GhiChu'
);


ALTER FOREIGN TABLE fdw_ngoctruc."LichHoc" OWNER TO csdlpt_user;

--
-- Name: LopHocPhan; Type: FOREIGN TABLE; Schema: fdw_ngoctruc; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_ngoctruc."LopHocPhan" (
    "MaLopHP" character varying(20) NOT NULL,
    "MaHP" character varying(20) NOT NULL,
    "MaHocKy" character varying(20) NOT NULL,
    "MaCoSo" character varying(10) NOT NULL,
    "MaGV" character varying(20) NOT NULL,
    "TenLopHP" character varying(100),
    "SiSoToiDa" integer NOT NULL,
    "SiSoHienTai" integer,
    "HinhThucHoc" character varying(20),
    "TrangThaiLop" character varying(20),
    "NgayTao" timestamp without time zone
)
SERVER ngoctruc_server
OPTIONS (
    schema_name 'public',
    table_name 'LopHocPhan'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "MaLopHP" OPTIONS (
    column_name 'MaLopHP'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "MaHP" OPTIONS (
    column_name 'MaHP'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "MaHocKy" OPTIONS (
    column_name 'MaHocKy'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "MaGV" OPTIONS (
    column_name 'MaGV'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "TenLopHP" OPTIONS (
    column_name 'TenLopHP'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "SiSoToiDa" OPTIONS (
    column_name 'SiSoToiDa'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "SiSoHienTai" OPTIONS (
    column_name 'SiSoHienTai'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "HinhThucHoc" OPTIONS (
    column_name 'HinhThucHoc'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "TrangThaiLop" OPTIONS (
    column_name 'TrangThaiLop'
);
ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_ngoctruc."LopHocPhan" OWNER TO csdlpt_user;

--
-- Name: PhongHoc; Type: FOREIGN TABLE; Schema: fdw_ngoctruc; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_ngoctruc."PhongHoc" (
    "MaPhong" character varying(20) NOT NULL,
    "TenPhong" character varying(100) NOT NULL,
    "ToaNha" character varying(50),
    "Tang" integer,
    "SucChua" integer NOT NULL,
    "LoaiPhong" character varying(30),
    "MaCoSo" character varying(10) NOT NULL,
    "TrangThai" character varying(20),
    "NgayTao" timestamp without time zone
)
SERVER ngoctruc_server
OPTIONS (
    schema_name 'public',
    table_name 'PhongHoc'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "MaPhong" OPTIONS (
    column_name 'MaPhong'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "TenPhong" OPTIONS (
    column_name 'TenPhong'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "ToaNha" OPTIONS (
    column_name 'ToaNha'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "Tang" OPTIONS (
    column_name 'Tang'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "SucChua" OPTIONS (
    column_name 'SucChua'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "LoaiPhong" OPTIONS (
    column_name 'LoaiPhong'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "TrangThai" OPTIONS (
    column_name 'TrangThai'
);
ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_ngoctruc."PhongHoc" OWNER TO csdlpt_user;

--
-- Name: SinhVien; Type: FOREIGN TABLE; Schema: fdw_ngoctruc; Owner: csdlpt_user
--

CREATE FOREIGN TABLE fdw_ngoctruc."SinhVien" (
    "MaSV" character varying(20) NOT NULL,
    "userId" character varying(50) NOT NULL,
    "Ho" character varying(50) NOT NULL,
    "Ten" character varying(50) NOT NULL,
    "NgaySinh" date,
    "GioiTinh" character varying(10),
    "SDT" character varying(20),
    "DiaChi" character varying(300),
    "MaCoSo" character varying(10) NOT NULL,
    "MaKhoa" character varying(20),
    "TrangThai" character varying(20),
    "NgayNhapHoc" date,
    "NgayTao" timestamp without time zone
)
SERVER ngoctruc_server
OPTIONS (
    schema_name 'public',
    table_name 'SinhVien'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "MaSV" OPTIONS (
    column_name 'MaSV'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "userId" OPTIONS (
    column_name 'userId'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "Ho" OPTIONS (
    column_name 'Ho'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "Ten" OPTIONS (
    column_name 'Ten'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "NgaySinh" OPTIONS (
    column_name 'NgaySinh'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "GioiTinh" OPTIONS (
    column_name 'GioiTinh'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "SDT" OPTIONS (
    column_name 'SDT'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "DiaChi" OPTIONS (
    column_name 'DiaChi'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "MaCoSo" OPTIONS (
    column_name 'MaCoSo'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "MaKhoa" OPTIONS (
    column_name 'MaKhoa'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "TrangThai" OPTIONS (
    column_name 'TrangThai'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "NgayNhapHoc" OPTIONS (
    column_name 'NgayNhapHoc'
);
ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" ALTER COLUMN "NgayTao" OPTIONS (
    column_name 'NgayTao'
);


ALTER FOREIGN TABLE fdw_ngoctruc."SinhVien" OWNER TO csdlpt_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."AuditLog" (
    "MaLog" integer NOT NULL,
    "BangCapNhat" character varying(50) NOT NULL,
    "HanhDong" character varying(20) NOT NULL,
    "BanGhiCu" text,
    "BanGhiMoi" text,
    "NguoiThucHien" character varying(50),
    "DiaChiIP" character varying(50),
    "ThoiGian" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public."AuditLog" OWNER TO csdlpt_user;

--
-- Name: AuditLog_MaLog_seq; Type: SEQUENCE; Schema: public; Owner: csdlpt_user
--

CREATE SEQUENCE public."AuditLog_MaLog_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."AuditLog_MaLog_seq" OWNER TO csdlpt_user;

--
-- Name: AuditLog_MaLog_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: csdlpt_user
--

ALTER SEQUENCE public."AuditLog_MaLog_seq" OWNED BY public."AuditLog"."MaLog";


--
-- Name: CoSo; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."CoSo" (
    "MaCoSo" character varying(10) NOT NULL,
    "TenCoSo" character varying(100) NOT NULL,
    "DiaChi" character varying(200) NOT NULL,
    "SoDienThoai" character varying(20),
    "Email" character varying(100),
    "NgayThanhLap" date DEFAULT CURRENT_DATE,
    "TrangThai" character varying(20) DEFAULT 'HoatDong'::character varying
);


ALTER TABLE public."CoSo" OWNER TO csdlpt_user;

--
-- Name: TABLE "CoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."CoSo" IS 'Th├┤ng tin c╞í sß╗ƒ ─æ├áo tß║ío - NH├éN Bß║óN to├án phß║ºn tß║íi cß║ú 3 site';


--
-- Name: COLUMN "CoSo"."MaCoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."CoSo"."MaCoSo" IS 'M├ú c╞í sß╗ƒ';


--
-- Name: COLUMN "CoSo"."TenCoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."CoSo"."TenCoSo" IS 'T├¬n c╞í sß╗ƒ';


--
-- Name: COLUMN "CoSo"."DiaChi"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."CoSo"."DiaChi" IS '─Éß╗ïa chß╗ë c╞í sß╗ƒ';


--
-- Name: COLUMN "CoSo"."SoDienThoai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."CoSo"."SoDienThoai" IS 'Sß╗æ ─æiß╗çn thoß║íi';


--
-- Name: COLUMN "CoSo"."Email"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."CoSo"."Email" IS 'Email c╞í sß╗ƒ';


--
-- Name: COLUMN "CoSo"."NgayThanhLap"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."CoSo"."NgayThanhLap" IS 'Ng├áy th├ánh lß║¡p';


--
-- Name: COLUMN "CoSo"."TrangThai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."CoSo"."TrangThai" IS 'Trß║íng th├íi: HoatDong, BaoTri, NgungSuDung';


--
-- Name: DangKy; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."DangKy" (
    "MaDangKy" integer NOT NULL,
    "MaSV" character varying(20) NOT NULL,
    "MaLopHP" character varying(20) NOT NULL,
    "NgayDangKy" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "TrangThaiDangKy" character varying(20) DEFAULT 'DaDangKy'::character varying,
    "LanDangKy" integer DEFAULT 1,
    "GhiChu" character varying(200),
    CONSTRAINT "DangKy_LanDangKy_check" CHECK (("LanDangKy" >= 1)),
    CONSTRAINT "DangKy_TrangThaiDangKy_check" CHECK ((("TrangThaiDangKy")::text = ANY ((ARRAY['DaDangKy'::character varying, 'DaHuy'::character varying, 'ChoDuyet'::character varying])::text[])))
);


ALTER TABLE public."DangKy" OWNER TO csdlpt_user;

--
-- Name: TABLE "DangKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."DangKy" IS '─É─âng k├╜ hß╗ìc phß║ºn - PH├éN Mß║óNH theo c╞í sß╗ƒ Mß╗₧ Lß╗ÜP';


--
-- Name: COLUMN "DangKy"."MaDangKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."DangKy"."MaDangKy" IS 'M├ú ─æ─âng k├╜';


--
-- Name: COLUMN "DangKy"."MaSV"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."DangKy"."MaSV" IS 'Sinh vi├¬n ─æ─âng k├╜';


--
-- Name: COLUMN "DangKy"."MaLopHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."DangKy"."MaLopHP" IS 'Lß╗¢p hß╗ìc phß║ºn ─æ─âng k├╜';


--
-- Name: COLUMN "DangKy"."NgayDangKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."DangKy"."NgayDangKy" IS 'Thß╗¥i ─æiß╗âm ─æ─âng k├╜';


--
-- Name: COLUMN "DangKy"."TrangThaiDangKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."DangKy"."TrangThaiDangKy" IS 'Trß║íng th├íi: DaDangKy, DaHuy, ChoDuyet';


--
-- Name: COLUMN "DangKy"."LanDangKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."DangKy"."LanDangKy" IS 'Lß║ºn ─æ─âng k├╜';


--
-- Name: COLUMN "DangKy"."GhiChu"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."DangKy"."GhiChu" IS 'Ghi ch├║';


--
-- Name: DangKyLog; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."DangKyLog" (
    "MaLog" integer NOT NULL,
    "MaSV" character varying(20) NOT NULL,
    "MaLopHP" character varying(20) NOT NULL,
    "HanhDong" character varying(20) NOT NULL,
    "TrangThaiCu" character varying(20),
    "TrangThaiMoi" character varying(20),
    "KetQua" character varying(20) NOT NULL,
    "LyDo" text,
    "NguoiThucHien" character varying(50),
    "ThoiGian" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public."DangKyLog" OWNER TO csdlpt_user;

--
-- Name: DangKyLog_MaLog_seq; Type: SEQUENCE; Schema: public; Owner: csdlpt_user
--

CREATE SEQUENCE public."DangKyLog_MaLog_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."DangKyLog_MaLog_seq" OWNER TO csdlpt_user;

--
-- Name: DangKyLog_MaLog_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: csdlpt_user
--

ALTER SEQUENCE public."DangKyLog_MaLog_seq" OWNED BY public."DangKyLog"."MaLog";


--
-- Name: DangKy_3PC; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."DangKy_3PC" (
    "RecordId" integer NOT NULL,
    "TxnId" character varying(64) NOT NULL,
    "CoordinatorSite" character varying(20) NOT NULL,
    "SiteId" character varying(20) NOT NULL,
    "UserId" character varying NOT NULL,
    "Action" public.enrollmentaction NOT NULL,
    "State" public.enrollmenttransactionstate NOT NULL,
    "TargetMaLopHP" character varying NOT NULL,
    "TargetMaHP" character varying NOT NULL,
    "TargetMaHocKy" character varying NOT NULL,
    "OldMaLopHP" character varying,
    "Payload" text NOT NULL,
    "Message" text,
    "CreatedAt" timestamp without time zone NOT NULL,
    "UpdatedAt" timestamp without time zone NOT NULL
);


ALTER TABLE public."DangKy_3PC" OWNER TO csdlpt_user;

--
-- Name: DangKy_3PC_RecordId_seq; Type: SEQUENCE; Schema: public; Owner: csdlpt_user
--

CREATE SEQUENCE public."DangKy_3PC_RecordId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."DangKy_3PC_RecordId_seq" OWNER TO csdlpt_user;

--
-- Name: DangKy_3PC_RecordId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: csdlpt_user
--

ALTER SEQUENCE public."DangKy_3PC_RecordId_seq" OWNED BY public."DangKy_3PC"."RecordId";


--
-- Name: DangKy_Log; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."DangKy_Log" (
    "LogId" integer NOT NULL,
    "userId" character varying NOT NULL,
    "MaLopHP" character varying NOT NULL,
    "MaHP" character varying NOT NULL,
    "Action" public.enrollmentaction NOT NULL,
    "TargetSite" character varying NOT NULL,
    "Status" public.logstatus,
    "Message" character varying,
    "Timestamp" timestamp without time zone NOT NULL
);


ALTER TABLE public."DangKy_Log" OWNER TO csdlpt_user;

--
-- Name: DangKy_Log_LogId_seq; Type: SEQUENCE; Schema: public; Owner: csdlpt_user
--

CREATE SEQUENCE public."DangKy_Log_LogId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."DangKy_Log_LogId_seq" OWNER TO csdlpt_user;

--
-- Name: DangKy_Log_LogId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: csdlpt_user
--

ALTER SEQUENCE public."DangKy_Log_LogId_seq" OWNED BY public."DangKy_Log"."LogId";


--
-- Name: DangKy_MaDangKy_seq; Type: SEQUENCE; Schema: public; Owner: csdlpt_user
--

CREATE SEQUENCE public."DangKy_MaDangKy_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."DangKy_MaDangKy_seq" OWNER TO csdlpt_user;

--
-- Name: DangKy_MaDangKy_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: csdlpt_user
--

ALTER SEQUENCE public."DangKy_MaDangKy_seq" OWNED BY public."DangKy"."MaDangKy";


--
-- Name: GiangVien; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."GiangVien" (
    "MaGV" character varying(20) NOT NULL,
    "userId" character varying(50) NOT NULL,
    "Ho" character varying(50) NOT NULL,
    "Ten" character varying(50) NOT NULL,
    "NgaySinh" date,
    "GioiTinh" character varying(10) DEFAULT 'Khac'::character varying,
    "SDT" character varying(20),
    "DiaChi" character varying(300),
    "HocVi" character varying(50),
    "HocHam" character varying(50),
    "MaCoSo" character varying(10) DEFAULT 'HADONG'::character varying NOT NULL,
    "MaKhoa" character varying(20),
    "TrangThai" character varying(20) DEFAULT 'DangCongTac'::character varying,
    "NgayVaoLam" date,
    "NgayTao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "GiangVien_GioiTinh_check" CHECK ((("GioiTinh")::text = ANY ((ARRAY['Nam'::character varying, 'Nu'::character varying, 'Khac'::character varying])::text[]))),
    CONSTRAINT "GiangVien_TrangThai_check" CHECK ((("TrangThai")::text = ANY ((ARRAY['DangCongTac'::character varying, 'TamNghi'::character varying, 'NghiViec'::character varying])::text[])))
);


ALTER TABLE public."GiangVien" OWNER TO csdlpt_user;

--
-- Name: TABLE "GiangVien"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."GiangVien" IS 'Giß║úng vi├¬n c╞í sß╗ƒ HADONG - PH├éN Mß║óNH NGANG theo MaCoSo';


--
-- Name: COLUMN "GiangVien"."MaGV"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."MaGV" IS 'M├ú giß║úng vi├¬n';


--
-- Name: COLUMN "GiangVien"."userId"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."userId" IS 'ID ng╞░ß╗¥i d├╣ng li├¬n kß║┐t';


--
-- Name: COLUMN "GiangVien"."Ho"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."Ho" IS 'Hß╗ì';


--
-- Name: COLUMN "GiangVien"."Ten"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."Ten" IS 'T├¬n';


--
-- Name: COLUMN "GiangVien"."NgaySinh"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."NgaySinh" IS 'Ng├áy sinh';


--
-- Name: COLUMN "GiangVien"."GioiTinh"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."GioiTinh" IS 'Giß╗¢i t├¡nh: Nam, Nu, Khac';


--
-- Name: COLUMN "GiangVien"."SDT"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."SDT" IS 'Sß╗æ ─æiß╗çn thoß║íi';


--
-- Name: COLUMN "GiangVien"."DiaChi"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."DiaChi" IS '─Éß╗ïa chß╗ë';


--
-- Name: COLUMN "GiangVien"."HocVi"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."HocVi" IS 'Hß╗ìc vß╗ï: CN, ThS, TS';


--
-- Name: COLUMN "GiangVien"."HocHam"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."HocHam" IS 'Hß╗ìc h├ám: GTV, PGS, GS';


--
-- Name: COLUMN "GiangVien"."MaCoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."MaCoSo" IS 'C╞í sß╗ƒ quß║ún l├╜ ch├¡nh';


--
-- Name: COLUMN "GiangVien"."MaKhoa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."MaKhoa" IS 'Khoa phß╗Ñ tr├ích';


--
-- Name: COLUMN "GiangVien"."TrangThai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."GiangVien"."TrangThai" IS 'Trß║íng th├íi: DangCongTac, TamNghi, NghiViec';


--
-- Name: HocKy; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."HocKy" (
    "MaHocKy" character varying(20) NOT NULL,
    "NamHoc" character varying(10) NOT NULL,
    "KySo" integer NOT NULL,
    "NgayBatDau" date,
    "NgayKetThuc" date,
    "TrangThaiHocKy" character varying(20) DEFAULT 'SapMo'::character varying,
    CONSTRAINT "HocKy_KySo_check" CHECK (("KySo" = ANY (ARRAY[1, 2, 3]))),
    CONSTRAINT "HocKy_TrangThaiHocKy_check" CHECK ((("TrangThaiHocKy")::text = ANY ((ARRAY['SapMo'::character varying, 'DangDangKy'::character varying, 'DangHoc'::character varying, 'DaKetThuc'::character varying])::text[]))),
    CONSTRAINT chk_ngay_hocky CHECK ((("NgayKetThuc" > "NgayBatDau") OR ("NgayKetThuc" IS NULL)))
);


ALTER TABLE public."HocKy" OWNER TO csdlpt_user;

--
-- Name: TABLE "HocKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."HocKy" IS 'Th├┤ng tin hß╗ìc kß╗│ - NH├éN Bß║óN to├án phß║ºn tß║íi cß║ú 3 site';


--
-- Name: COLUMN "HocKy"."MaHocKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocKy"."MaHocKy" IS 'M├ú hß╗ìc kß╗│';


--
-- Name: COLUMN "HocKy"."NamHoc"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocKy"."NamHoc" IS 'N─âm hß╗ìc (VD: 2025-2026)';


--
-- Name: COLUMN "HocKy"."KySo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocKy"."KySo" IS 'Kß╗│ sß╗æ: 1, 2, 3';


--
-- Name: COLUMN "HocKy"."NgayBatDau"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocKy"."NgayBatDau" IS 'Ng├áy bß║»t ─æß║ºu';


--
-- Name: COLUMN "HocKy"."NgayKetThuc"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocKy"."NgayKetThuc" IS 'Ng├áy kß║┐t th├║c';


--
-- Name: COLUMN "HocKy"."TrangThaiHocKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocKy"."TrangThaiHocKy" IS 'Trß║íng th├íi: SapMo, DangDangKy, DangHoc, DaKetThuc';


--
-- Name: HocPhan; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."HocPhan" (
    "MaHP" character varying(20) NOT NULL,
    "TenHP" character varying(200) NOT NULL,
    "SoTinChi" integer NOT NULL,
    "SoTietLyThuyet" integer DEFAULT 0,
    "SoTietThucHanh" integer DEFAULT 0,
    "LoaiHocPhan" character varying(20) DEFAULT 'BatBuoc'::character varying,
    "MaKhoa" character varying(20) NOT NULL,
    "MoTa" character varying(1000),
    "TrangThai" character varying(20) DEFAULT 'HoatDong'::character varying,
    "NgayTao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "HocPhan_LoaiHocPhan_check" CHECK ((("LoaiHocPhan")::text = ANY ((ARRAY['BatBuoc'::character varying, 'TuChon'::character varying])::text[]))),
    CONSTRAINT "HocPhan_SoTietLyThuyet_check" CHECK (("SoTietLyThuyet" >= 0)),
    CONSTRAINT "HocPhan_SoTietThucHanh_check" CHECK (("SoTietThucHanh" >= 0)),
    CONSTRAINT "HocPhan_SoTinChi_check" CHECK ((("SoTinChi" >= 1) AND ("SoTinChi" <= 10)))
);


ALTER TABLE public."HocPhan" OWNER TO csdlpt_user;

--
-- Name: TABLE "HocPhan"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."HocPhan" IS 'Danh mß╗Ñc hß╗ìc phß║ºn - NH├éN Bß║óN to├án phß║ºn tß║íi cß║ú 3 site';


--
-- Name: COLUMN "HocPhan"."MaHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."MaHP" IS 'M├ú hß╗ìc phß║ºn';


--
-- Name: COLUMN "HocPhan"."TenHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."TenHP" IS 'T├¬n hß╗ìc phß║ºn';


--
-- Name: COLUMN "HocPhan"."SoTinChi"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."SoTinChi" IS 'Sß╗æ t├¡n chß╗ë';


--
-- Name: COLUMN "HocPhan"."SoTietLyThuyet"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."SoTietLyThuyet" IS 'Sß╗æ tiß║┐t l├╜ thuyß║┐t';


--
-- Name: COLUMN "HocPhan"."SoTietThucHanh"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."SoTietThucHanh" IS 'Sß╗æ tiß║┐t thß╗▒c h├ánh';


--
-- Name: COLUMN "HocPhan"."LoaiHocPhan"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."LoaiHocPhan" IS 'Loß║íi: BatBuoc, TuChon';


--
-- Name: COLUMN "HocPhan"."MaKhoa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."MaKhoa" IS 'M├ú khoa phß╗Ñ tr├ích';


--
-- Name: COLUMN "HocPhan"."MoTa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."MoTa" IS 'M├┤ tß║ú nß╗Öi dung';


--
-- Name: COLUMN "HocPhan"."TrangThai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."HocPhan"."TrangThai" IS 'Trß║íng th├íi: HoatDong, Khoa';


--
-- Name: Khoa; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."Khoa" (
    "MaKhoa" character varying(20) NOT NULL,
    "TenKhoa" character varying(100) NOT NULL,
    "MoTa" character varying(500),
    "NgayThanhLap" date DEFAULT CURRENT_DATE,
    "TrangThai" character varying(20) DEFAULT 'HoatDong'::character varying
);


ALTER TABLE public."Khoa" OWNER TO csdlpt_user;

--
-- Name: TABLE "Khoa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."Khoa" IS 'Th├┤ng tin khoa ─æ├áo tß║ío - NH├éN Bß║óN to├án phß║ºn tß║íi cß║ú 3 site';


--
-- Name: COLUMN "Khoa"."MaKhoa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."Khoa"."MaKhoa" IS 'M├ú khoa';


--
-- Name: COLUMN "Khoa"."TenKhoa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."Khoa"."TenKhoa" IS 'T├¬n khoa';


--
-- Name: COLUMN "Khoa"."MoTa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."Khoa"."MoTa" IS 'M├┤ tß║ú khoa';


--
-- Name: COLUMN "Khoa"."NgayThanhLap"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."Khoa"."NgayThanhLap" IS 'Ng├áy th├ánh lß║¡p';


--
-- Name: COLUMN "Khoa"."TrangThai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."Khoa"."TrangThai" IS 'Trß║íng th├íi: HoatDong, BaoTri';


--
-- Name: LichHoc; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."LichHoc" (
    "MaLich" character varying(20) NOT NULL,
    "MaLopHP" character varying(20) NOT NULL,
    "MaPhong" character varying(20) NOT NULL,
    "ThuTrongTuan" integer NOT NULL,
    "TietBatDau" integer NOT NULL,
    "SoTiet" integer NOT NULL,
    "NgayBatDau" date,
    "NgayKetThuc" date,
    "GhiChu" character varying(200),
    CONSTRAINT "LichHoc_SoTiet_check" CHECK (("SoTiet" > 0)),
    CONSTRAINT "LichHoc_ThuTrongTuan_check" CHECK ((("ThuTrongTuan" >= 2) AND ("ThuTrongTuan" <= 8))),
    CONSTRAINT "LichHoc_TietBatDau_check" CHECK ((("TietBatDau" >= 1) AND ("TietBatDau" <= 15)))
);


ALTER TABLE public."LichHoc" OWNER TO csdlpt_user;

--
-- Name: TABLE "LichHoc"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."LichHoc" IS 'Lß╗ïch hß╗ìc - PH├éN Mß║óNH Dß║¬N XUß║ñT theo LopHocPhan';


--
-- Name: COLUMN "LichHoc"."MaLich"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."MaLich" IS 'M├ú lß╗ïch';


--
-- Name: COLUMN "LichHoc"."MaLopHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."MaLopHP" IS 'Lß╗¢p hß╗ìc phß║ºn';


--
-- Name: COLUMN "LichHoc"."MaPhong"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."MaPhong" IS 'Ph├▓ng hß╗ìc';


--
-- Name: COLUMN "LichHoc"."ThuTrongTuan"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."ThuTrongTuan" IS 'Thß╗⌐: 2=Thß╗⌐ 2, ..., 8=Chß╗º nhß║¡t';


--
-- Name: COLUMN "LichHoc"."TietBatDau"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."TietBatDau" IS 'Tiß║┐t bß║»t ─æß║ºu';


--
-- Name: COLUMN "LichHoc"."SoTiet"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."SoTiet" IS 'Sß╗æ tiß║┐t li├¬n tiß║┐p';


--
-- Name: COLUMN "LichHoc"."NgayBatDau"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."NgayBatDau" IS 'Ng├áy bß║»t ─æß║ºu hß╗ìc';


--
-- Name: COLUMN "LichHoc"."NgayKetThuc"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."NgayKetThuc" IS 'Ng├áy kß║┐t th├║c hß╗ìc';


--
-- Name: COLUMN "LichHoc"."GhiChu"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LichHoc"."GhiChu" IS 'Ghi ch├║';


--
-- Name: LopHocPhan; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."LopHocPhan" (
    "MaLopHP" character varying(20) NOT NULL,
    "MaHP" character varying(20) NOT NULL,
    "MaHocKy" character varying(20) NOT NULL,
    "MaCoSo" character varying(10) DEFAULT 'HADONG'::character varying NOT NULL,
    "MaGV" character varying(20) NOT NULL,
    "TenLopHP" character varying(100),
    "SiSoToiDa" integer NOT NULL,
    "SiSoHienTai" integer DEFAULT 0,
    "HinhThucHoc" character varying(20) DEFAULT 'Offline'::character varying,
    "TrangThaiLop" character varying(20) DEFAULT 'Mo'::character varying,
    "NgayTao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "LopHocPhan_HinhThucHoc_check" CHECK ((("HinhThucHoc")::text = ANY ((ARRAY['Offline'::character varying, 'Online'::character varying, 'Hybrid'::character varying])::text[]))),
    CONSTRAINT "LopHocPhan_SiSoHienTai_check" CHECK (("SiSoHienTai" >= 0)),
    CONSTRAINT "LopHocPhan_SiSoToiDa_check" CHECK (("SiSoToiDa" > 0)),
    CONSTRAINT "LopHocPhan_TrangThaiLop_check" CHECK ((("TrangThaiLop")::text = ANY ((ARRAY['Mo'::character varying, 'Dong'::character varying, 'Huy'::character varying])::text[])))
);


ALTER TABLE public."LopHocPhan" OWNER TO csdlpt_user;

--
-- Name: TABLE "LopHocPhan"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."LopHocPhan" IS 'Lß╗¢p hß╗ìc phß║ºn mß╗ƒ tß║íi HADONG - PH├éN Mß║óNH theo c╞í sß╗ƒ Mß╗₧ Lß╗ÜP';


--
-- Name: COLUMN "LopHocPhan"."MaLopHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."MaLopHP" IS 'M├ú lß╗¢p hß╗ìc phß║ºn';


--
-- Name: COLUMN "LopHocPhan"."MaHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."MaHP" IS 'M├ú hß╗ìc phß║ºn';


--
-- Name: COLUMN "LopHocPhan"."MaHocKy"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."MaHocKy" IS 'M├ú hß╗ìc kß╗│';


--
-- Name: COLUMN "LopHocPhan"."MaCoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."MaCoSo" IS 'C╞í sß╗ƒ Mß╗₧ Lß╗ÜP n├áy';


--
-- Name: COLUMN "LopHocPhan"."MaGV"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."MaGV" IS 'Giß║úng vi├¬n phß╗Ñ tr├ích';


--
-- Name: COLUMN "LopHocPhan"."TenLopHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."TenLopHP" IS 'T├¬n hiß╗ân thß╗ï lß╗¢p';


--
-- Name: COLUMN "LopHocPhan"."SiSoToiDa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."SiSoToiDa" IS 'S─⌐ sß╗æ tß╗æi ─æa';


--
-- Name: COLUMN "LopHocPhan"."SiSoHienTai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."SiSoHienTai" IS 'S─⌐ sß╗æ hiß╗çn tß║íi';


--
-- Name: COLUMN "LopHocPhan"."HinhThucHoc"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."HinhThucHoc" IS 'H├¼nh thß╗⌐c: Offline, Online, Hybrid';


--
-- Name: COLUMN "LopHocPhan"."TrangThaiLop"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."LopHocPhan"."TrangThaiLop" IS 'Trß║íng th├íi: Mo, Dong, Huy';


--
-- Name: PhongHoc; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."PhongHoc" (
    "MaPhong" character varying(20) NOT NULL,
    "TenPhong" character varying(100) NOT NULL,
    "ToaNha" character varying(50),
    "Tang" integer,
    "SucChua" integer NOT NULL,
    "LoaiPhong" character varying(30) DEFAULT 'LyThuyet'::character varying,
    "MaCoSo" character varying(10) DEFAULT 'HADONG'::character varying NOT NULL,
    "TrangThai" character varying(20) DEFAULT 'HoatDong'::character varying,
    "NgayTao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "PhongHoc_LoaiPhong_check" CHECK ((("LoaiPhong")::text = ANY ((ARRAY['LyThuyet'::character varying, 'MayTinh'::character varying, 'ThiNghiem'::character varying, 'HoiTruong'::character varying])::text[]))),
    CONSTRAINT "PhongHoc_SucChua_check" CHECK (("SucChua" > 0)),
    CONSTRAINT "PhongHoc_TrangThai_check" CHECK ((("TrangThai")::text = ANY ((ARRAY['HoatDong'::character varying, 'BaoTri'::character varying, 'NgungSuDung'::character varying])::text[])))
);


ALTER TABLE public."PhongHoc" OWNER TO csdlpt_user;

--
-- Name: TABLE "PhongHoc"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."PhongHoc" IS 'Ph├▓ng hß╗ìc c╞í sß╗ƒ HADONG - PH├éN Mß║óNH NGANG theo MaCoSo';


--
-- Name: COLUMN "PhongHoc"."MaPhong"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."MaPhong" IS 'M├ú ph├▓ng';


--
-- Name: COLUMN "PhongHoc"."TenPhong"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."TenPhong" IS 'T├¬n ph├▓ng';


--
-- Name: COLUMN "PhongHoc"."ToaNha"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."ToaNha" IS 'T├▓a nh├á';


--
-- Name: COLUMN "PhongHoc"."Tang"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."Tang" IS 'Tß║ºng';


--
-- Name: COLUMN "PhongHoc"."SucChua"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."SucChua" IS 'Sß╗⌐c chß╗⌐a';


--
-- Name: COLUMN "PhongHoc"."LoaiPhong"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."LoaiPhong" IS 'Loß║íi: LyThuyet, MayTinh, ThiNghiem, HoiTruong';


--
-- Name: COLUMN "PhongHoc"."MaCoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."MaCoSo" IS 'C╞í sß╗ƒ sß╗ƒ hß╗»u ph├▓ng';


--
-- Name: COLUMN "PhongHoc"."TrangThai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."PhongHoc"."TrangThai" IS 'Trß║íng th├íi: HoatDong, BaoTri, NgungSuDung';


--
-- Name: ReplicationOutbox; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."ReplicationOutbox" (
    "EventId" integer NOT NULL,
    "EntityType" character varying(50) NOT NULL,
    "EntityId" character varying(50) NOT NULL,
    "Operation" character varying(20) NOT NULL,
    "Payload" text NOT NULL,
    "SourceSite" character varying(20) NOT NULL,
    "TargetSite" character varying(20) NOT NULL,
    "Status" character varying(20) NOT NULL,
    "RetryCount" integer NOT NULL,
    "LastError" text,
    "CreatedAt" timestamp without time zone NOT NULL,
    "UpdatedAt" timestamp without time zone NOT NULL,
    "ProcessedAt" timestamp without time zone
);


ALTER TABLE public."ReplicationOutbox" OWNER TO csdlpt_user;

--
-- Name: ReplicationOutbox_EventId_seq; Type: SEQUENCE; Schema: public; Owner: csdlpt_user
--

CREATE SEQUENCE public."ReplicationOutbox_EventId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."ReplicationOutbox_EventId_seq" OWNER TO csdlpt_user;

--
-- Name: ReplicationOutbox_EventId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: csdlpt_user
--

ALTER SEQUENCE public."ReplicationOutbox_EventId_seq" OWNED BY public."ReplicationOutbox"."EventId";


--
-- Name: SinhVien; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."SinhVien" (
    "MaSV" character varying(20) NOT NULL,
    "userId" character varying(50) NOT NULL,
    "Ho" character varying(50) NOT NULL,
    "Ten" character varying(50) NOT NULL,
    "NgaySinh" date,
    "GioiTinh" character varying(10) DEFAULT 'Khac'::character varying,
    "SDT" character varying(20),
    "DiaChi" character varying(300),
    "MaCoSo" character varying(10) DEFAULT 'HADONG'::character varying NOT NULL,
    "MaKhoa" character varying(20),
    "TrangThai" character varying(20) DEFAULT 'DangHoc'::character varying,
    "NgayNhapHoc" date,
    "NgayTao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "SinhVien_GioiTinh_check" CHECK ((("GioiTinh")::text = ANY ((ARRAY['Nam'::character varying, 'Nu'::character varying, 'Khac'::character varying])::text[]))),
    CONSTRAINT "SinhVien_TrangThai_check" CHECK ((("TrangThai")::text = ANY ((ARRAY['DangHoc'::character varying, 'BaoLuu'::character varying, 'ThoiHoc'::character varying, 'TotNghiep'::character varying])::text[])))
);


ALTER TABLE public."SinhVien" OWNER TO csdlpt_user;

--
-- Name: TABLE "SinhVien"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."SinhVien" IS 'Sinh vi├¬n c╞í sß╗ƒ HADONG - PH├éN Mß║óNH NGANG theo MaCoSo';


--
-- Name: COLUMN "SinhVien"."MaSV"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."MaSV" IS 'M├ú sinh vi├¬n';


--
-- Name: COLUMN "SinhVien"."userId"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."userId" IS 'ID ng╞░ß╗¥i d├╣ng li├¬n kß║┐t';


--
-- Name: COLUMN "SinhVien"."Ho"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."Ho" IS 'Hß╗ì';


--
-- Name: COLUMN "SinhVien"."Ten"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."Ten" IS 'T├¬n';


--
-- Name: COLUMN "SinhVien"."NgaySinh"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."NgaySinh" IS 'Ng├áy sinh';


--
-- Name: COLUMN "SinhVien"."GioiTinh"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."GioiTinh" IS 'Giß╗¢i t├¡nh: Nam, Nu, Khac';


--
-- Name: COLUMN "SinhVien"."SDT"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."SDT" IS 'Sß╗æ ─æiß╗çn thoß║íi';


--
-- Name: COLUMN "SinhVien"."DiaChi"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."DiaChi" IS '─Éß╗ïa chß╗ë';


--
-- Name: COLUMN "SinhVien"."MaCoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."MaCoSo" IS 'C╞í sß╗ƒ quß║ún l├╜ ch├¡nh';


--
-- Name: COLUMN "SinhVien"."MaKhoa"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."MaKhoa" IS 'Khoa sinh vi├¬n theo hß╗ìc';


--
-- Name: COLUMN "SinhVien"."TrangThai"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."TrangThai" IS 'Trß║íng th├íi: DangHoc, BaoLuu, ThoiHoc, TotNghiep';


--
-- Name: COLUMN "SinhVien"."NgayNhapHoc"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."SinhVien"."NgayNhapHoc" IS 'Ng├áy nhß║¡p hß╗ìc';


--
-- Name: SiteStatus; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."SiteStatus" (
    "SiteId" character varying(20) NOT NULL,
    "Role" character varying(20) NOT NULL,
    "Status" character varying(20) NOT NULL,
    "LastHeartbeat" timestamp without time zone,
    "LastSuccessAt" timestamp without time zone,
    "LastError" text,
    "UpdatedAt" timestamp without time zone NOT NULL
);


ALTER TABLE public."SiteStatus" OWNER TO csdlpt_user;

--
-- Name: TienQuyet; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public."TienQuyet" (
    "MaHP" character varying(20) NOT NULL,
    "MaHP_TienQuyet" character varying(20) NOT NULL,
    CONSTRAINT chk_tienquyet_khac CHECK ((("MaHP")::text <> ("MaHP_TienQuyet")::text))
);


ALTER TABLE public."TienQuyet" OWNER TO csdlpt_user;

--
-- Name: TABLE "TienQuyet"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public."TienQuyet" IS 'Quan hß╗ç hß╗ìc phß║ºn ti├¬n quyß║┐t - NH├éN Bß║óN to├án phß║ºn tß║íi cß║ú 3 site';


--
-- Name: COLUMN "TienQuyet"."MaHP"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."TienQuyet"."MaHP" IS 'M├ú hß╗ìc phß║ºn ch├¡nh';


--
-- Name: COLUMN "TienQuyet"."MaHP_TienQuyet"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public."TienQuyet"."MaHP_TienQuyet" IS 'M├ú hß╗ìc phß║ºn ti├¬n quyß║┐t';


--
-- Name: users; Type: TABLE; Schema: public; Owner: csdlpt_user
--

CREATE TABLE public.users (
    "userId" character varying(50) NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    email character varying(100),
    role character varying(20) NOT NULL,
    "MaCoSo" character varying(10) NOT NULL,
    status character varying(20) DEFAULT 'Active'::character varying,
    "NgayTao" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['SinhVien'::character varying, 'GiangVien'::character varying, 'Admin'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['Active'::character varying, 'Inactive'::character varying, 'Locked'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO csdlpt_user;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON TABLE public.users IS 'Th├┤ng tin ng╞░ß╗¥i d├╣ng hß╗ç thß╗æng - NH├éN Bß║óN to├án phß║ºn tß║íi cß║ú 3 site';


--
-- Name: COLUMN users."userId"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users."userId" IS 'ID ─æß╗ïnh danh ng╞░ß╗¥i d├╣ng';


--
-- Name: COLUMN users.username; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users.username IS 'T├¬n ─æ─âng nhß║¡p';


--
-- Name: COLUMN users.password; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users.password IS 'Mß║¡t khß║⌐u (─æ├ú m├ú h├│a)';


--
-- Name: COLUMN users.email; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users.email IS 'Email li├¬n lß║íc';


--
-- Name: COLUMN users.role; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users.role IS 'Vai tr├▓: SinhVien, GiangVien, Admin';


--
-- Name: COLUMN users."MaCoSo"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users."MaCoSo" IS 'M├ú c╞í sß╗ƒ trß╗▒c thuß╗Öc (D├╣ng ─æß╗â ─æß╗ïnh tuyß║┐n DB)';


--
-- Name: COLUMN users.status; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users.status IS 'Trß║íng th├íi t├ái khoß║ún: Active, Inactive, Locked';


--
-- Name: COLUMN users."NgayTao"; Type: COMMENT; Schema: public; Owner: csdlpt_user
--

COMMENT ON COLUMN public.users."NgayTao" IS 'Ng├áy tß║ío t├ái khoß║ún';


--
-- Name: vw_dangky_toantruong; Type: VIEW; Schema: public; Owner: csdlpt_user
--

CREATE VIEW public.vw_dangky_toantruong AS
 SELECT "DangKy"."MaDangKy",
    "DangKy"."MaSV",
    "DangKy"."MaLopHP",
    "DangKy"."NgayDangKy",
    "DangKy"."TrangThaiDangKy",
    "DangKy"."LanDangKy",
    "DangKy"."GhiChu"
   FROM public."DangKy"
UNION ALL
 SELECT "DangKy"."MaDangKy",
    "DangKy"."MaSV",
    "DangKy"."MaLopHP",
    "DangKy"."NgayDangKy",
    "DangKy"."TrangThaiDangKy",
    "DangKy"."LanDangKy",
    "DangKy"."GhiChu"
   FROM fdw_ngoctruc."DangKy"
UNION ALL
 SELECT "DangKy"."MaDangKy",
    "DangKy"."MaSV",
    "DangKy"."MaLopHP",
    "DangKy"."NgayDangKy",
    "DangKy"."TrangThaiDangKy",
    "DangKy"."LanDangKy",
    "DangKy"."GhiChu"
   FROM fdw_hoalac."DangKy";


ALTER TABLE public.vw_dangky_toantruong OWNER TO csdlpt_user;

--
-- Name: vw_giangvien_toantruong; Type: VIEW; Schema: public; Owner: csdlpt_user
--

CREATE VIEW public.vw_giangvien_toantruong AS
 SELECT "GiangVien"."MaGV",
    "GiangVien"."userId",
    "GiangVien"."Ho",
    "GiangVien"."Ten",
    "GiangVien"."NgaySinh",
    "GiangVien"."GioiTinh",
    "GiangVien"."SDT",
    "GiangVien"."DiaChi",
    "GiangVien"."HocVi",
    "GiangVien"."HocHam",
    "GiangVien"."MaCoSo",
    "GiangVien"."MaKhoa",
    "GiangVien"."TrangThai",
    "GiangVien"."NgayVaoLam",
    "GiangVien"."NgayTao"
   FROM public."GiangVien"
UNION ALL
 SELECT "GiangVien"."MaGV",
    "GiangVien"."userId",
    "GiangVien"."Ho",
    "GiangVien"."Ten",
    "GiangVien"."NgaySinh",
    "GiangVien"."GioiTinh",
    "GiangVien"."SDT",
    "GiangVien"."DiaChi",
    "GiangVien"."HocVi",
    "GiangVien"."HocHam",
    "GiangVien"."MaCoSo",
    "GiangVien"."MaKhoa",
    "GiangVien"."TrangThai",
    "GiangVien"."NgayVaoLam",
    "GiangVien"."NgayTao"
   FROM fdw_ngoctruc."GiangVien"
UNION ALL
 SELECT "GiangVien"."MaGV",
    "GiangVien"."userId",
    "GiangVien"."Ho",
    "GiangVien"."Ten",
    "GiangVien"."NgaySinh",
    "GiangVien"."GioiTinh",
    "GiangVien"."SDT",
    "GiangVien"."DiaChi",
    "GiangVien"."HocVi",
    "GiangVien"."HocHam",
    "GiangVien"."MaCoSo",
    "GiangVien"."MaKhoa",
    "GiangVien"."TrangThai",
    "GiangVien"."NgayVaoLam",
    "GiangVien"."NgayTao"
   FROM fdw_hoalac."GiangVien";


ALTER TABLE public.vw_giangvien_toantruong OWNER TO csdlpt_user;

--
-- Name: vw_lichhoc_toantruong; Type: VIEW; Schema: public; Owner: csdlpt_user
--

CREATE VIEW public.vw_lichhoc_toantruong AS
 SELECT "LichHoc"."MaLich",
    "LichHoc"."MaLopHP",
    "LichHoc"."MaPhong",
    "LichHoc"."ThuTrongTuan",
    "LichHoc"."TietBatDau",
    "LichHoc"."SoTiet",
    "LichHoc"."NgayBatDau",
    "LichHoc"."NgayKetThuc",
    "LichHoc"."GhiChu"
   FROM public."LichHoc"
UNION ALL
 SELECT "LichHoc"."MaLich",
    "LichHoc"."MaLopHP",
    "LichHoc"."MaPhong",
    "LichHoc"."ThuTrongTuan",
    "LichHoc"."TietBatDau",
    "LichHoc"."SoTiet",
    "LichHoc"."NgayBatDau",
    "LichHoc"."NgayKetThuc",
    "LichHoc"."GhiChu"
   FROM fdw_ngoctruc."LichHoc"
UNION ALL
 SELECT "LichHoc"."MaLich",
    "LichHoc"."MaLopHP",
    "LichHoc"."MaPhong",
    "LichHoc"."ThuTrongTuan",
    "LichHoc"."TietBatDau",
    "LichHoc"."SoTiet",
    "LichHoc"."NgayBatDau",
    "LichHoc"."NgayKetThuc",
    "LichHoc"."GhiChu"
   FROM fdw_hoalac."LichHoc";


ALTER TABLE public.vw_lichhoc_toantruong OWNER TO csdlpt_user;

--
-- Name: vw_lophocphan_toantruong; Type: VIEW; Schema: public; Owner: csdlpt_user
--

CREATE VIEW public.vw_lophocphan_toantruong AS
 SELECT "LopHocPhan"."MaLopHP",
    "LopHocPhan"."MaHP",
    "LopHocPhan"."MaHocKy",
    "LopHocPhan"."MaCoSo",
    "LopHocPhan"."MaGV",
    "LopHocPhan"."TenLopHP",
    "LopHocPhan"."SiSoToiDa",
    "LopHocPhan"."SiSoHienTai",
    "LopHocPhan"."HinhThucHoc",
    "LopHocPhan"."TrangThaiLop",
    "LopHocPhan"."NgayTao"
   FROM public."LopHocPhan"
UNION ALL
 SELECT "LopHocPhan"."MaLopHP",
    "LopHocPhan"."MaHP",
    "LopHocPhan"."MaHocKy",
    "LopHocPhan"."MaCoSo",
    "LopHocPhan"."MaGV",
    "LopHocPhan"."TenLopHP",
    "LopHocPhan"."SiSoToiDa",
    "LopHocPhan"."SiSoHienTai",
    "LopHocPhan"."HinhThucHoc",
    "LopHocPhan"."TrangThaiLop",
    "LopHocPhan"."NgayTao"
   FROM fdw_ngoctruc."LopHocPhan"
UNION ALL
 SELECT "LopHocPhan"."MaLopHP",
    "LopHocPhan"."MaHP",
    "LopHocPhan"."MaHocKy",
    "LopHocPhan"."MaCoSo",
    "LopHocPhan"."MaGV",
    "LopHocPhan"."TenLopHP",
    "LopHocPhan"."SiSoToiDa",
    "LopHocPhan"."SiSoHienTai",
    "LopHocPhan"."HinhThucHoc",
    "LopHocPhan"."TrangThaiLop",
    "LopHocPhan"."NgayTao"
   FROM fdw_hoalac."LopHocPhan";


ALTER TABLE public.vw_lophocphan_toantruong OWNER TO csdlpt_user;

--
-- Name: vw_phonghoc_toantruong; Type: VIEW; Schema: public; Owner: csdlpt_user
--

CREATE VIEW public.vw_phonghoc_toantruong AS
 SELECT "PhongHoc"."MaPhong",
    "PhongHoc"."TenPhong",
    "PhongHoc"."ToaNha",
    "PhongHoc"."Tang",
    "PhongHoc"."SucChua",
    "PhongHoc"."LoaiPhong",
    "PhongHoc"."MaCoSo",
    "PhongHoc"."TrangThai",
    "PhongHoc"."NgayTao"
   FROM public."PhongHoc"
UNION ALL
 SELECT "PhongHoc"."MaPhong",
    "PhongHoc"."TenPhong",
    "PhongHoc"."ToaNha",
    "PhongHoc"."Tang",
    "PhongHoc"."SucChua",
    "PhongHoc"."LoaiPhong",
    "PhongHoc"."MaCoSo",
    "PhongHoc"."TrangThai",
    "PhongHoc"."NgayTao"
   FROM fdw_ngoctruc."PhongHoc"
UNION ALL
 SELECT "PhongHoc"."MaPhong",
    "PhongHoc"."TenPhong",
    "PhongHoc"."ToaNha",
    "PhongHoc"."Tang",
    "PhongHoc"."SucChua",
    "PhongHoc"."LoaiPhong",
    "PhongHoc"."MaCoSo",
    "PhongHoc"."TrangThai",
    "PhongHoc"."NgayTao"
   FROM fdw_hoalac."PhongHoc";


ALTER TABLE public.vw_phonghoc_toantruong OWNER TO csdlpt_user;

--
-- Name: vw_sinhvien_toantruong; Type: VIEW; Schema: public; Owner: csdlpt_user
--

CREATE VIEW public.vw_sinhvien_toantruong AS
 SELECT "SinhVien"."MaSV",
    "SinhVien"."userId",
    "SinhVien"."Ho",
    "SinhVien"."Ten",
    "SinhVien"."NgaySinh",
    "SinhVien"."GioiTinh",
    "SinhVien"."SDT",
    "SinhVien"."DiaChi",
    "SinhVien"."MaCoSo",
    "SinhVien"."MaKhoa",
    "SinhVien"."TrangThai",
    "SinhVien"."NgayNhapHoc",
    "SinhVien"."NgayTao"
   FROM public."SinhVien"
UNION ALL
 SELECT "SinhVien"."MaSV",
    "SinhVien"."userId",
    "SinhVien"."Ho",
    "SinhVien"."Ten",
    "SinhVien"."NgaySinh",
    "SinhVien"."GioiTinh",
    "SinhVien"."SDT",
    "SinhVien"."DiaChi",
    "SinhVien"."MaCoSo",
    "SinhVien"."MaKhoa",
    "SinhVien"."TrangThai",
    "SinhVien"."NgayNhapHoc",
    "SinhVien"."NgayTao"
   FROM fdw_ngoctruc."SinhVien"
UNION ALL
 SELECT "SinhVien"."MaSV",
    "SinhVien"."userId",
    "SinhVien"."Ho",
    "SinhVien"."Ten",
    "SinhVien"."NgaySinh",
    "SinhVien"."GioiTinh",
    "SinhVien"."SDT",
    "SinhVien"."DiaChi",
    "SinhVien"."MaCoSo",
    "SinhVien"."MaKhoa",
    "SinhVien"."TrangThai",
    "SinhVien"."NgayNhapHoc",
    "SinhVien"."NgayTao"
   FROM fdw_hoalac."SinhVien";


ALTER TABLE public.vw_sinhvien_toantruong OWNER TO csdlpt_user;

--
-- Name: AuditLog MaLog; Type: DEFAULT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."AuditLog" ALTER COLUMN "MaLog" SET DEFAULT nextval('public."AuditLog_MaLog_seq"'::regclass);


--
-- Name: DangKy MaDangKy; Type: DEFAULT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy" ALTER COLUMN "MaDangKy" SET DEFAULT nextval('public."DangKy_MaDangKy_seq"'::regclass);


--
-- Name: DangKyLog MaLog; Type: DEFAULT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKyLog" ALTER COLUMN "MaLog" SET DEFAULT nextval('public."DangKyLog_MaLog_seq"'::regclass);


--
-- Name: DangKy_3PC RecordId; Type: DEFAULT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy_3PC" ALTER COLUMN "RecordId" SET DEFAULT nextval('public."DangKy_3PC_RecordId_seq"'::regclass);


--
-- Name: DangKy_Log LogId; Type: DEFAULT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy_Log" ALTER COLUMN "LogId" SET DEFAULT nextval('public."DangKy_Log_LogId_seq"'::regclass);


--
-- Name: ReplicationOutbox EventId; Type: DEFAULT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."ReplicationOutbox" ALTER COLUMN "EventId" SET DEFAULT nextval('public."ReplicationOutbox_EventId_seq"'::regclass);


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."AuditLog" ("MaLog", "BangCapNhat", "HanhDong", "BanGhiCu", "BanGhiMoi", "NguoiThucHien", "DiaChiIP", "ThoiGian") FROM stdin;
\.


--
-- Data for Name: CoSo; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."CoSo" ("MaCoSo", "TenCoSo", "DiaChi", "SoDienThoai", "Email", "NgayThanhLap", "TrangThai") FROM stdin;
NGOCTRUC	C╞í sß╗ƒ Ngß╗ìc Trß╗Ñc	Ngß╗ìc Trß╗Ñc	0934390687	quanlyngoctruc@ptit.edu.vn	2010-01-01	HoatDong
HOALAC	C╞í sß╗ƒ H├▓a Lß║íc	H├▓a Lß║íc	0939792028	quanlyhoalac@ptit.edu.vn	2010-01-01	HoatDong
HADONG	C╞í sß╗ƒ H├á ─É├┤ng	H├á ─É├┤ng	0984650686	quanlyhadong@ptit.edu.vn	2010-01-01	HoatDong
\.


--
-- Data for Name: DangKy; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."DangKy" ("MaDangKy", "MaSV", "MaLopHP", "NgayDangKy", "TrangThaiDangKy", "LanDangKy", "GhiChu") FROM stdin;
\.


--
-- Data for Name: DangKyLog; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."DangKyLog" ("MaLog", "MaSV", "MaLopHP", "HanhDong", "TrangThaiCu", "TrangThaiMoi", "KetQua", "LyDo", "NguoiThucHien", "ThoiGian") FROM stdin;
\.


--
-- Data for Name: DangKy_3PC; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."DangKy_3PC" ("RecordId", "TxnId", "CoordinatorSite", "SiteId", "UserId", "Action", "State", "TargetMaLopHP", "TargetMaHP", "TargetMaHocKy", "OldMaLopHP", "Payload", "Message", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: DangKy_Log; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."DangKy_Log" ("LogId", "userId", "MaLopHP", "MaHP", "Action", "TargetSite", "Status", "Message", "Timestamp") FROM stdin;
\.


--
-- Data for Name: GiangVien; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--



--
-- Data for Name: HocKy; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."HocKy" ("MaHocKy", "NamHoc", "KySo", "NgayBatDau", "NgayKetThuc", "TrangThaiHocKy") FROM stdin;
HK20251	2025-2026	1	2025-09-01	2025-12-31	DangDangKy
HK20252	2025-2026	2	2026-01-01	2026-05-31	SapMo
HK20261	2026-2027	1	2026-09-01	2026-12-31	SapMo
\.


--
-- Data for Name: HocPhan; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--



--
-- Data for Name: Khoa; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."Khoa" ("MaKhoa", "TenKhoa", "MoTa", "NgayThanhLap", "TrangThai") FROM stdin;
CNTT	Khoa Cong nghe thong tin	Khoa dao tao nganh CNTT	2000-01-01	HoatDong
ATTT	Khoa An toan thong tin	Khoa dao tao nganh ATTT	2000-01-01	HoatDong
VT	Khoa Vien thong	Khoa dao tao nganh VT	2000-01-01	HoatDong
KT	Khoa Kinh te	Khoa dao tao nganh KT	2000-01-01	HoatDong
DPT	Da phuong tien	Khoa Thiet ke va Sang tao noi dung so	2026-04-27	HoatDong
\.


--
-- Data for Name: LichHoc; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--



--
-- Data for Name: LopHocPhan; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--



--
-- Data for Name: PhongHoc; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--



--
-- Data for Name: ReplicationOutbox; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."ReplicationOutbox" ("EventId", "EntityType", "EntityId", "Operation", "Payload", "SourceSite", "TargetSite", "Status", "RetryCount", "LastError", "CreatedAt", "UpdatedAt", "ProcessedAt") FROM stdin;
\.


--
-- Data for Name: SinhVien; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--



--
-- Data for Name: SiteStatus; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."SiteStatus" ("SiteId", "Role", "Status", "LastHeartbeat", "LastSuccessAt", "LastError", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: TienQuyet; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--

COPY public."TienQuyet" ("MaHP", "MaHP_TienQuyet") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: csdlpt_user
--



--
-- Name: AuditLog_MaLog_seq; Type: SEQUENCE SET; Schema: public; Owner: csdlpt_user
--

SELECT pg_catalog.setval('public."AuditLog_MaLog_seq"', 1, false);


--
-- Name: DangKyLog_MaLog_seq; Type: SEQUENCE SET; Schema: public; Owner: csdlpt_user
--

SELECT pg_catalog.setval('public."DangKyLog_MaLog_seq"', 1, false);


--
-- Name: DangKy_3PC_RecordId_seq; Type: SEQUENCE SET; Schema: public; Owner: csdlpt_user
--

SELECT pg_catalog.setval('public."DangKy_3PC_RecordId_seq"', 1, false);


--
-- Name: DangKy_Log_LogId_seq; Type: SEQUENCE SET; Schema: public; Owner: csdlpt_user
--

SELECT pg_catalog.setval('public."DangKy_Log_LogId_seq"', 1, false);


--
-- Name: DangKy_MaDangKy_seq; Type: SEQUENCE SET; Schema: public; Owner: csdlpt_user
--

SELECT pg_catalog.setval('public."DangKy_MaDangKy_seq"', 1, false);


--
-- Name: ReplicationOutbox_EventId_seq; Type: SEQUENCE SET; Schema: public; Owner: csdlpt_user
--

SELECT pg_catalog.setval('public."ReplicationOutbox_EventId_seq"', 1, false);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("MaLog");


--
-- Name: CoSo CoSo_Email_key; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."CoSo"
    ADD CONSTRAINT "CoSo_Email_key" UNIQUE ("Email");


--
-- Name: CoSo CoSo_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."CoSo"
    ADD CONSTRAINT "CoSo_pkey" PRIMARY KEY ("MaCoSo");


--
-- Name: DangKyLog DangKyLog_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKyLog"
    ADD CONSTRAINT "DangKyLog_pkey" PRIMARY KEY ("MaLog");


--
-- Name: DangKy_3PC DangKy_3PC_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy_3PC"
    ADD CONSTRAINT "DangKy_3PC_pkey" PRIMARY KEY ("RecordId");


--
-- Name: DangKy_Log DangKy_Log_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy_Log"
    ADD CONSTRAINT "DangKy_Log_pkey" PRIMARY KEY ("LogId");


--
-- Name: DangKy DangKy_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy"
    ADD CONSTRAINT "DangKy_pkey" PRIMARY KEY ("MaDangKy");


--
-- Name: GiangVien GiangVien_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."GiangVien"
    ADD CONSTRAINT "GiangVien_pkey" PRIMARY KEY ("MaGV");


--
-- Name: GiangVien GiangVien_userId_key; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."GiangVien"
    ADD CONSTRAINT "GiangVien_userId_key" UNIQUE ("userId");


--
-- Name: HocKy HocKy_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."HocKy"
    ADD CONSTRAINT "HocKy_pkey" PRIMARY KEY ("MaHocKy");


--
-- Name: HocPhan HocPhan_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."HocPhan"
    ADD CONSTRAINT "HocPhan_pkey" PRIMARY KEY ("MaHP");


--
-- Name: Khoa Khoa_TenKhoa_key; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."Khoa"
    ADD CONSTRAINT "Khoa_TenKhoa_key" UNIQUE ("TenKhoa");


--
-- Name: Khoa Khoa_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."Khoa"
    ADD CONSTRAINT "Khoa_pkey" PRIMARY KEY ("MaKhoa");


--
-- Name: LichHoc LichHoc_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LichHoc"
    ADD CONSTRAINT "LichHoc_pkey" PRIMARY KEY ("MaLich");


--
-- Name: LopHocPhan LopHocPhan_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LopHocPhan"
    ADD CONSTRAINT "LopHocPhan_pkey" PRIMARY KEY ("MaLopHP");


--
-- Name: PhongHoc PhongHoc_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."PhongHoc"
    ADD CONSTRAINT "PhongHoc_pkey" PRIMARY KEY ("MaPhong");


--
-- Name: ReplicationOutbox ReplicationOutbox_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."ReplicationOutbox"
    ADD CONSTRAINT "ReplicationOutbox_pkey" PRIMARY KEY ("EventId");


--
-- Name: SinhVien SinhVien_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."SinhVien"
    ADD CONSTRAINT "SinhVien_pkey" PRIMARY KEY ("MaSV");


--
-- Name: SinhVien SinhVien_userId_key; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."SinhVien"
    ADD CONSTRAINT "SinhVien_userId_key" UNIQUE ("userId");


--
-- Name: SiteStatus SiteStatus_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."SiteStatus"
    ADD CONSTRAINT "SiteStatus_pkey" PRIMARY KEY ("SiteId");


--
-- Name: TienQuyet TienQuyet_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."TienQuyet"
    ADD CONSTRAINT "TienQuyet_pkey" PRIMARY KEY ("MaHP", "MaHP_TienQuyet");


--
-- Name: DangKy_3PC uq_dk_3pc_txn_site; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy_3PC"
    ADD CONSTRAINT uq_dk_3pc_txn_site UNIQUE ("TxnId", "SiteId");


--
-- Name: DangKy uq_dk_sv_lophp; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy"
    ADD CONSTRAINT uq_dk_sv_lophp UNIQUE ("MaSV", "MaLopHP");


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY ("userId");


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_coso_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_coso_trangthai ON public."CoSo" USING btree ("TrangThai");


--
-- Name: idx_dangky_demsiso; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_dangky_demsiso ON public."DangKy" USING btree ("MaLopHP") WHERE (("TrangThaiDangKy")::text = 'DaDangKy'::text);


--
-- Name: idx_dangky_malophp; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_dangky_malophp ON public."DangKy" USING btree ("MaLopHP");


--
-- Name: idx_dangky_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_dangky_trangthai ON public."DangKy" USING btree ("TrangThaiDangKy");


--
-- Name: idx_giangvien_macoso; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_giangvien_macoso ON public."GiangVien" USING btree ("MaCoSo");


--
-- Name: idx_giangvien_makhoa; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_giangvien_makhoa ON public."GiangVien" USING btree ("MaKhoa");


--
-- Name: idx_giangvien_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_giangvien_trangthai ON public."GiangVien" USING btree ("TrangThai");


--
-- Name: idx_giangvien_userid; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_giangvien_userid ON public."GiangVien" USING btree ("userId");


--
-- Name: idx_hocky_namhoc; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_hocky_namhoc ON public."HocKy" USING btree ("NamHoc");


--
-- Name: idx_hocphan_khoa; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_hocphan_khoa ON public."HocPhan" USING btree ("MaKhoa");


--
-- Name: idx_hocphan_loai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_hocphan_loai ON public."HocPhan" USING btree ("LoaiHocPhan");


--
-- Name: idx_hocphan_makhoa; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_hocphan_makhoa ON public."HocPhan" USING btree ("MaKhoa");


--
-- Name: idx_hocphan_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_hocphan_trangthai ON public."HocPhan" USING btree ("TrangThai");


--
-- Name: idx_khoa_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_khoa_trangthai ON public."Khoa" USING btree ("TrangThai");


--
-- Name: idx_lichhoc_malophp; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lichhoc_malophp ON public."LichHoc" USING btree ("MaLopHP");


--
-- Name: idx_lichhoc_maphong; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lichhoc_maphong ON public."LichHoc" USING btree ("MaPhong");


--
-- Name: idx_lichhoc_ngay; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lichhoc_ngay ON public."LichHoc" USING btree ("NgayBatDau", "NgayKetThuc");


--
-- Name: idx_lichhoc_phong_thu_tiet; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lichhoc_phong_thu_tiet ON public."LichHoc" USING btree ("MaPhong", "ThuTrongTuan", "TietBatDau");


--
-- Name: idx_lophocphan_hp_hk_cs; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lophocphan_hp_hk_cs ON public."LopHocPhan" USING btree ("MaHP", "MaHocKy", "MaCoSo");


--
-- Name: idx_lophocphan_macoso; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lophocphan_macoso ON public."LopHocPhan" USING btree ("MaCoSo");


--
-- Name: idx_lophocphan_magv; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lophocphan_magv ON public."LopHocPhan" USING btree ("MaGV");


--
-- Name: idx_lophocphan_mahocky; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lophocphan_mahocky ON public."LopHocPhan" USING btree ("MaHocKy");


--
-- Name: idx_lophocphan_mahp; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lophocphan_mahp ON public."LopHocPhan" USING btree ("MaHP");


--
-- Name: idx_lophocphan_siso; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lophocphan_siso ON public."LopHocPhan" USING btree ("SiSoHienTai", "SiSoToiDa");


--
-- Name: idx_lophocphan_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_lophocphan_trangthai ON public."LopHocPhan" USING btree ("TrangThaiLop");


--
-- Name: idx_phonghoc_loai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_phonghoc_loai ON public."PhongHoc" USING btree ("LoaiPhong");


--
-- Name: idx_phonghoc_macoso; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_phonghoc_macoso ON public."PhongHoc" USING btree ("MaCoSo");


--
-- Name: idx_phonghoc_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_phonghoc_trangthai ON public."PhongHoc" USING btree ("TrangThai");


--
-- Name: idx_sinhvien_macoso; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_sinhvien_macoso ON public."SinhVien" USING btree ("MaCoSo");


--
-- Name: idx_sinhvien_makhoa; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_sinhvien_makhoa ON public."SinhVien" USING btree ("MaKhoa");


--
-- Name: idx_sinhvien_trangthai; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_sinhvien_trangthai ON public."SinhVien" USING btree ("TrangThai");


--
-- Name: idx_sinhvien_userid; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_sinhvien_userid ON public."SinhVien" USING btree ("userId");


--
-- Name: idx_tienquyet_lookup; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_tienquyet_lookup ON public."TienQuyet" USING btree ("MaHP_TienQuyet", "MaHP");


--
-- Name: idx_tienquyet_mahp; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_tienquyet_mahp ON public."TienQuyet" USING btree ("MaHP");


--
-- Name: idx_tienquyet_tq; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_tienquyet_tq ON public."TienQuyet" USING btree ("MaHP_TienQuyet");


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_macoso; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_users_macoso ON public.users USING btree ("MaCoSo");


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: ix_DangKy_3PC_RecordId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_DangKy_3PC_RecordId" ON public."DangKy_3PC" USING btree ("RecordId");


--
-- Name: ix_DangKy_3PC_SiteId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_DangKy_3PC_SiteId" ON public."DangKy_3PC" USING btree ("SiteId");


--
-- Name: ix_DangKy_3PC_TxnId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_DangKy_3PC_TxnId" ON public."DangKy_3PC" USING btree ("TxnId");


--
-- Name: ix_DangKy_3PC_UserId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_DangKy_3PC_UserId" ON public."DangKy_3PC" USING btree ("UserId");


--
-- Name: ix_DangKy_Log_LogId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_DangKy_Log_LogId" ON public."DangKy_Log" USING btree ("LogId");


--
-- Name: ix_ReplicationOutbox_EntityId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_ReplicationOutbox_EntityId" ON public."ReplicationOutbox" USING btree ("EntityId");


--
-- Name: ix_ReplicationOutbox_EventId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_ReplicationOutbox_EventId" ON public."ReplicationOutbox" USING btree ("EventId");


--
-- Name: ix_ReplicationOutbox_Status; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_ReplicationOutbox_Status" ON public."ReplicationOutbox" USING btree ("Status");


--
-- Name: ix_ReplicationOutbox_TargetSite; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_ReplicationOutbox_TargetSite" ON public."ReplicationOutbox" USING btree ("TargetSite");


--
-- Name: ix_SiteStatus_SiteId; Type: INDEX; Schema: public; Owner: csdlpt_user
--

CREATE INDEX "ix_SiteStatus_SiteId" ON public."SiteStatus" USING btree ("SiteId");


--
-- Name: DangKy_Log DangKy_Log_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy_Log"
    ADD CONSTRAINT "DangKy_Log_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users("userId");


--
-- Name: DangKy fk_dk_lophp; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy"
    ADD CONSTRAINT fk_dk_lophp FOREIGN KEY ("MaLopHP") REFERENCES public."LopHocPhan"("MaLopHP");


--
-- Name: DangKy fk_dk_sv; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."DangKy"
    ADD CONSTRAINT fk_dk_sv FOREIGN KEY ("MaSV") REFERENCES public."SinhVien"("MaSV");


--
-- Name: GiangVien fk_gv_coso; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."GiangVien"
    ADD CONSTRAINT fk_gv_coso FOREIGN KEY ("MaCoSo") REFERENCES public."CoSo"("MaCoSo");


--
-- Name: GiangVien fk_gv_khoa; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."GiangVien"
    ADD CONSTRAINT fk_gv_khoa FOREIGN KEY ("MaKhoa") REFERENCES public."Khoa"("MaKhoa");


--
-- Name: GiangVien fk_gv_users; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."GiangVien"
    ADD CONSTRAINT fk_gv_users FOREIGN KEY ("userId") REFERENCES public.users("userId");


--
-- Name: HocPhan fk_hocphan_khoa; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."HocPhan"
    ADD CONSTRAINT fk_hocphan_khoa FOREIGN KEY ("MaKhoa") REFERENCES public."Khoa"("MaKhoa");


--
-- Name: LopHocPhan fk_lhp_coso; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LopHocPhan"
    ADD CONSTRAINT fk_lhp_coso FOREIGN KEY ("MaCoSo") REFERENCES public."CoSo"("MaCoSo");


--
-- Name: LopHocPhan fk_lhp_gv; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LopHocPhan"
    ADD CONSTRAINT fk_lhp_gv FOREIGN KEY ("MaGV") REFERENCES public."GiangVien"("MaGV");


--
-- Name: LopHocPhan fk_lhp_hocky; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LopHocPhan"
    ADD CONSTRAINT fk_lhp_hocky FOREIGN KEY ("MaHocKy") REFERENCES public."HocKy"("MaHocKy");


--
-- Name: LopHocPhan fk_lhp_hocphan; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LopHocPhan"
    ADD CONSTRAINT fk_lhp_hocphan FOREIGN KEY ("MaHP") REFERENCES public."HocPhan"("MaHP");


--
-- Name: LichHoc fk_lich_lophp; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LichHoc"
    ADD CONSTRAINT fk_lich_lophp FOREIGN KEY ("MaLopHP") REFERENCES public."LopHocPhan"("MaLopHP") ON DELETE CASCADE;


--
-- Name: LichHoc fk_lich_phong; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."LichHoc"
    ADD CONSTRAINT fk_lich_phong FOREIGN KEY ("MaPhong") REFERENCES public."PhongHoc"("MaPhong");


--
-- Name: PhongHoc fk_phong_coso; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."PhongHoc"
    ADD CONSTRAINT fk_phong_coso FOREIGN KEY ("MaCoSo") REFERENCES public."CoSo"("MaCoSo");


--
-- Name: SinhVien fk_sv_coso; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."SinhVien"
    ADD CONSTRAINT fk_sv_coso FOREIGN KEY ("MaCoSo") REFERENCES public."CoSo"("MaCoSo");


--
-- Name: SinhVien fk_sv_khoa; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."SinhVien"
    ADD CONSTRAINT fk_sv_khoa FOREIGN KEY ("MaKhoa") REFERENCES public."Khoa"("MaKhoa");


--
-- Name: SinhVien fk_sv_users; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."SinhVien"
    ADD CONSTRAINT fk_sv_users FOREIGN KEY ("userId") REFERENCES public.users("userId");


--
-- Name: TienQuyet fk_tq_hocphan; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."TienQuyet"
    ADD CONSTRAINT fk_tq_hocphan FOREIGN KEY ("MaHP") REFERENCES public."HocPhan"("MaHP");


--
-- Name: TienQuyet fk_tq_tienquyet; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public."TienQuyet"
    ADD CONSTRAINT fk_tq_tienquyet FOREIGN KEY ("MaHP_TienQuyet") REFERENCES public."HocPhan"("MaHP");


--
-- Name: users fk_users_coso; Type: FK CONSTRAINT; Schema: public; Owner: csdlpt_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_coso FOREIGN KEY ("MaCoSo") REFERENCES public."CoSo"("MaCoSo");


--
-- Name: pub_common_tables; Type: PUBLICATION; Schema: -; Owner: csdlpt_user
--

CREATE PUBLICATION pub_common_tables WITH (publish = 'insert, update, delete, truncate');


ALTER PUBLICATION pub_common_tables OWNER TO csdlpt_user;

--
-- Name: pub_common_tables CoSo; Type: PUBLICATION TABLE; Schema: public; Owner: csdlpt_user
--

ALTER PUBLICATION pub_common_tables ADD TABLE ONLY public."CoSo";


--
-- Name: pub_common_tables HocKy; Type: PUBLICATION TABLE; Schema: public; Owner: csdlpt_user
--

ALTER PUBLICATION pub_common_tables ADD TABLE ONLY public."HocKy";


--
-- Name: pub_common_tables HocPhan; Type: PUBLICATION TABLE; Schema: public; Owner: csdlpt_user
--

ALTER PUBLICATION pub_common_tables ADD TABLE ONLY public."HocPhan";


--
-- Name: pub_common_tables Khoa; Type: PUBLICATION TABLE; Schema: public; Owner: csdlpt_user
--

ALTER PUBLICATION pub_common_tables ADD TABLE ONLY public."Khoa";


--
-- Name: pub_common_tables TienQuyet; Type: PUBLICATION TABLE; Schema: public; Owner: csdlpt_user
--

ALTER PUBLICATION pub_common_tables ADD TABLE ONLY public."TienQuyet";


--
-- Name: pub_common_tables users; Type: PUBLICATION TABLE; Schema: public; Owner: csdlpt_user
--

ALTER PUBLICATION pub_common_tables ADD TABLE ONLY public.users;


--
-- PostgreSQL database dump complete
--

\unrestrict 74RKGbxu4xgFMo2g15XN3qq0LhNuiUNT3hF6ncbA9BWVcxFBCTOCgq6DCd8PM7b

